p {
    width: 75vw;
    text-align: center;
    font-size: 1.25em;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-top: 1;}
    
h1 {
    font-family: cursive;
    font-size: 3.5em;
    text-align: center;

}
h2 {
    text-align: center;
    font-size: 2.25em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}
h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3.2em;
    text-align: center;
    margin: 1;
}

h4 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.35em;
    text-align: left;
    width: 67vw;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-top: 1;;
}

h5 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 1.28em;
    text-align: left;
    width: 62vw;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-top: 0;;

}

h6 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    text-align: left; 
    margin: 0;
}

img {
    float: left;
    margin: 20px;
}

table {
    font-family: arial, sans-serif;
    font-size: 1.25em;
    border-collapse: collapse;
    width: 55%;
}
table.center {
    margin-left: auto; 
    margin-right: auto;
}

table.hi {
    margin-left: auto; 
    margin-right: auto;
}
table.hi th {
    border: 3px solid #dddddd;
    text-align: left;
    padding: px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table.hi tr:nth-child(1) {
    background-color: #FFABD4;
}
table.hi tr:nth-child(2) {
    background-color: #FFDAEC;
}

td, th {
    border: 3px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(1) {
    background-color: #FFE7F3;
}